apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - secret.yaml
  # service.yaml not needed with hostNetwork: true
